on: [push, pull_request]

name: CI

jobs:
  tests:
    runs-on: ubuntu-latest
    container:
      image: jez500/seleniumbase-scrapper:latest

    steps:
      -
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      -
        name: Run tests
        run: |
          ./scripts/run-tests

  docker_build_push:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: tests
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile
          push: true
          tags: |
            jez500/seleniumbase-scrapper:${{ github.ref_name }}
            jez500/seleniumbase-scrapper:latest
          build-args: |
            API_VERSION=${{ github.ref_name }}
